[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mxnet = "==1.6.0"
insightface = "==0.1.5"
fastapi = "==0.62.0"
uvicorn = "==0.13.0"
python-multipart = "==0.0.5"
sqlalchemy = "==1.3.20"
datetime = "==4.3"
typing = "==3.7.4.3"
python-dotenv = "==0.15.0"
psycopg2 = "==2.8.6"

[dev-packages]
pylint = "==2.6.0"

[requires]
python_version = "3.8"
